mutagen
pycryptodome
pycryptodomex
pywidevine
PyYAML
requests
tqdm
xmltodict
javascript
websockets
brotli; platform_python_implementation=='CPython'
brotlicffi; platform_python_implementation!='CPython'
certifi
